.btn{
    background: yellowgreen;
    font-size: xx-large;
   
}
.maindiv{
    border: 1px solid black ;
    height: 300px;
    margin-top: 50px;
    background: black;
    margin-left: 50px;
    margin-right: 50px;
}